# See also https://gitignore.io/

### Private ###
.private

### Ionide ###
.fake
.ionide

### paket ###
paket-files/

### Binaries ##
[Bb]in/
[Oo]bj/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history